.letters{
    position: absolute;
    display: flex;
    bottom: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;

    .letter{
        font-size: x-large;
        padding: 1em;
    }
}