.letters{
    position: absolute;
    display: flex;
    bottom: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 1em;

    .letter{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 70px;
        background-color: tan;
        border-radius: 1em;
        cursor: pointer;

        .score{
            position: relative;
            top: -55px;
            left: 70%;
            font-size: medium;
            cursor: pointer;
        }

        .l{
            position: relative;
            left: 33%;
            top: 7%;
            font-size: x-large;
            cursor: pointer;
            margin-top: 40%;
        }
    }
}