.letters{
    position: absolute;
    display: flex;
    bottom: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 1em;

    .letter{
        display: flex;
        flex-direction: column;
        width: 40px;
        background-color: tan;
        padding: .5em;
        border-radius: 1em;

        .score{
            align-self: flex-end;
            font-size: medium;
        }

        .l{
            align-self: center;
            font-size: x-large;
        }
    }
}