.main-container{
    color: var(--text-primary);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1em;

    #guess{
        position: absolute;
        bottom: 1%; 
        display: flex;
        align-self: center;
        padding: .5em;
        gap: .5em;
    }

    #errors{
        position: absolute;
        top: 70%;
        align-self: center;
    }
}