$primary-color-light: white;
$primary-font-light: black;

$primary-color-dark: darkgrey;
$primary-font-dark: white;

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1em;
}