// Screens larger than 1000px
@media (min-width: 1000px){
    .instructions-container{
        color: var(--text-primary);
        background-color: var(--background);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: center;
        border-radius: 1em;
        top: 11%;
        width: 500px;

        .pop-up-title{
            display: flex;
            align-self: center;
            padding-bottom: 1em;

            h3{
                position: relative;
                align-self: flex-start;
                padding-bottom: .5em;
                top: 0em;
            }

            .close{
                position: absolute;
                right: 1em;
                top: 1.5em;
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-weight: 900;
            }
        }
        .instructions{
            width: 90%;
            align-self: center;
            p{
                position: relative;
                padding-bottom: .25em;
                text-align: start;
                top: -2em;
                left: 1em;
            }
        }  
    }
}

// Screens smaller than 1000px
@media (max-width: 1000px){

    .instructions-container{
        color: var(--text-primary);
        background-color: var(--background);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-self: center;
        border-radius: 1em;
        top: 11%;
        width: fit-content;

        .pop-up-title{
            display: flex;
            align-self: center;
            padding-bottom: 1em;

            h3{
                position: relative;
                align-self: flex-start;
                padding-bottom: .5em;
                top: 0em;
            }

            .close{
                position: absolute;
                right: 1em;
                top: 1.5em;
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-weight: 900;
            }
        }
        .instructions{
            width: 90%;
            align-self: center;
            p{
                position: relative;
                padding-bottom: .25em;
                text-align: start;
                top: -2em;
                left: 1em;
            }
        }  
    }
}