// Screens larger than 1000px
@media (min-width: 1000px){
    .header-container{
        display: flex;
        position: fixed;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0em;
        border-bottom: 2px solid black;
        height: 100px;
        
        
        #logo{
            position: absolute;
            left: 2em;
        }
    
        img{
            max-width: 60px;
        }
    
        #options{
            display: flex;
            position: absolute;
            right: 2em;
            gap: 2em;
            
            img{
                cursor: pointer;
            }
        }
           
    }
}

// Screens smaller than 1000px
@media (max-width: 1000px){
    .header-container{
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 2px solid black;
        height: 100px;
        
        
        #logo{
            position: relative;
            left: 1em;
        }

        #app-title{
            font-size: 17px;
            position: relative;
            left: 1.5em;
        }
    
        img{
            max-width: 25px;
        }
    
        #options{
            display: flex;
            position: absolute;
            right: 1em;
            gap: 0em;

            img{
                max-width: 25px;
                cursor: pointer;
            }
        }
           
    }
}

