// Screen larger than 1000px
@media(min-width: 1000px){
    .settings-container{
        color: var(--text-primary);
            background-color: var(--background);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-self: center;
            border-radius: 1em;
            top: 12%;
            width: 30em;
            border: solid 1px var(--text-primary);
            margin: 1%;
    
        .pop-up-title{
            display: flex;
            align-self: center;
            padding-bottom: 1em;
    
            h3{
                position: relative;
                align-self: flex-start;
                padding-bottom: .5em;
                top: 0em;
            }
    
            .close{
                position: absolute;
                cursor: pointer;
                    right: 1em;
                    top: 1.1em;
                    width: 20px;
            }
        }

        .settings{
            display: flex;
            align-self: center;
            justify-self: center;
            gap: 1em;
            padding: .5em;

                span{
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    padding: .2em;
                }

                #toggle-container{
                    position: relative;
                    display: flex;
                    transition: all .5s ease;
                    width: 3em;
                    height: 1.5em;
                    background-color: grey;
                    border-radius: 10em;

                    #toggler{
                        position: relative;
                        transition: all .5s ease;
                        align-self: center;
                        justify-self: center;
                        left: 2px;
                        background-color: aliceblue;
                        width: 1.2em;
                        height: 1.2em;
                        border-radius: 50%;
                    }
                }
            
        }
    }
};

// Screen smaller than 1000px
@media(max-width: 1000px){
    .settings-container{
            color: var(--text-primary);
            background-color: var(--background);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-self: center;
            border-radius: 1em;
            top: 13%;
            max-width: 30em;
            width: 97%;
            border: solid 1px var(--text-primary);
            margin: 1%;
    
        .pop-up-title{
            display: flex;
            align-self: center;
            padding-bottom: 1em;
    
            h3{
                position: relative;
                align-self: flex-start;
                padding-bottom: .5em;
                top: 0em;
            }
    
            .close{
                position: absolute;
                cursor: pointer;
                right: 1em;
                top: 1.1em;
                width: 20px;
            }
        }

        .settings{
            display: flex;
            align-self: center;
            justify-self: center;
            gap: 1em;
            padding: .5em;

                span{
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    padding: .2em;
                }

                #toggle-container{
                    position: relative;
                    display: flex;
                    transition: all .5s ease;
                    width: 3em;
                    height: 1.5em;
                    background-color: grey;
                    border-radius: 10em;

                    #toggler{
                        position: relative;
                        transition: all .5s ease;
                        align-self: center;
                        justify-self: center;
                        left: 2px;
                        background-color: aliceblue;
                        width: 1.2em;
                        height: 1.2em;
                        border-radius: 50%;
                    }
                }
            
        }
    }
}
